@import url(../scss/partials/_queries.scss);
@import url(../scss/partials/_variables.scss);
body {
  margin: 0;
  padding: 0;
  background-image: url("../Media/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
  background-position: center;
}

/* Estilos del INICIO */
.text-inicio {
  position: absolute;
  top: 5%;
  right: 50%;
  position: absolute;
  left: 840px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 4em;
  font-weight: 500;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.navbar .navbar-toggler {
  background-color: lightgray;
}
.navbar .nav-item-mobile {
  border-radius: 20px;
  padding: 5px;
  width: 60px;
}
.navbar .nav-item-mobile-long {
  border-radius: 20px;
  padding: 5px;
  width: 140px;
}
.navbar .nav-item-mobile-long:hover {
  background: lightgray;
}
.navbar .nav-item-mobile:hover {
  background: lightgray;
}

.container {
  margin-top: 100px;
  border-radius: 40px;
}
.container .container-formulario {
  border-radius: 20px;
}
.container .col {
  border: 3px solid;
  border-color: gray;
  background: white;
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 100px;
}
.container .col .formulario {
  padding: 10px;
  font-weight: 700;
}
.container .col .formulario .titulo-formulario {
  font-weight: 900;
  margin-bottom: 15px;
}
.container .container-horarios-consultorio {
  border-radius: 20px;
}
.container .container-horarios-consultorio .titulo-consultorio {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  border-bottom: 3px solid;
  border-color: #A5D7E8;
  width: 400px;
  color: #FFB4B4;
}
.container .container-horarios-consultorio .tit-horarios-consultorio {
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}
.container .container-horarios-consultorio .horarios-consultorio {
  border: 3px solid;
  border-color: gray;
  border-radius: 10px;
  width: 250px;
  height: 200px;
}
.container .container-horarios-consultorio .horarios-consultorio .lista-horarios {
  list-style: none;
  text-align: left;
}
.container .container-horarios-consultorio .horarios-consultorio .lista-horarios li {
  margin-top: 20px;
}

.container-redes {
  margin-top: 100px;
  border: 3px solid;
  border-color: gray;
  border-radius: 20px 0 0 20px;
  padding: 30px;
}
.container-redes .iconos-redes {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
}
.container-redes .iconos-redes-mobile {
  display: none;
}

.container-redes-tel {
  border: 3px solid;
  border-color: gray;
  border-radius: 0 20px 20px 0;
  padding: 30px;
  margin-top: 100px;
}
.container-redes-tel .texto-tel-mobile {
  display: none;
}

.contenedor-direccion .container-location {
  border-radius: px;
  margin-top: 120px;
  padding: 30px;
  border: 0px solid;
  background-color: transparent;
  max-width: 638px;
}
.contenedor-direccion .title-location {
  margin-top: 40px;
  border-bottom: 4px solid;
  border-color: #A5D7E8;
  width: 400px;
  margin-left: 100px;
  font-weight: 800;
  color: #FFB4B4;
}
.contenedor-direccion .location {
  font-size: 24px;
  margin-top: 40px;
}

.mapa {
  border: 3px solid;
  border-color: gray;
  padding: 5px;
  overflow: hidden;
  height: 400px;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Estilos del Sobre Nosotros */
.body-nosotros {
  background-image: url(../Media/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
}

.navbar {
  display: block;
}

.contenedor-nosotros h1 {
  margin-left: 100px;
  border-bottom: 4px solid;
  border-radius: 2px;
  border-color: purple;
  max-width: 400px;
  color: #FFB4B4;
  font-weight: 700;
  max-height: 50px;
}

.contenedor-cuerpo .img-cuerpo {
  background-image: url(../Media/Medicos.jpg);
  background-size: cover;
  background-position: right;
  height: 500px;
  border: 0px;
  border-radius: 20px;
}
.contenedor-cuerpo .titulo-quienes {
  border: 0px;
  display: flex;
  justify-content: left;
  background-color: transparent;
}
.contenedor-cuerpo .texto-titulo {
  width: 600px;
  height: 400px;
  font-size: larger;
  border: 0px;
  background-color: transparent;
}
.contenedor-cuerpo .texto-cuerpo {
  margin-top: 100px;
  width: 600px;
  height: 400px;
  font-size: larger;
  border: 0px;
  background-color: transparent;
}

.dra {
  font-weight: 900;
}

.dr {
  font-weight: 900;
}

.formacion {
  border: 5px solid;
  border-color: gray;
  border-radius: 30px;
  max-width: 1000px;
  max-height: 1400px;
  position: absolute;
  left: 500px;
  margin-top: 200px;
}
.formacion .titulo-formacion {
  margin-left: 350px;
  background-color: transparent;
  font-size: xx-large;
  color: #FFB4B4;
  border-bottom: 4px solid;
  border-radius: 2px;
  border-color: purple;
  width: 278px;
}
.formacion .cuerpo-titulo {
  font-size: larger;
  border: 0px;
  padding: 50px;
  background-color: transparent;
}

/* Estilos Galeria */
.text {
  position: absolute;
  top: 100px;
  right: 500px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 4em;
  font-weight: 500;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.galeria-img {
  margin-top: 300px;
  margin-left: 530px;
  max-width: 900px;
  max-height: 800px;
}

.container-galeria .columna-galeria {
  border: 0px;
  background-color: transparent;
}

.card {
  margin-top: 100px;
  margin-left: 140px;
  border-radius: 20px;
}

/* Screen sizes */
@media (max-width: 1362px) {
  /* Sobre Nosotros*/
  /* Galeria */
  .text {
    transform: translateX(600px);
    width: 1000px;
  }
  .galeria-img {
    position: absolute;
    right: 670px;
    top: 200px;
    max-width: 900px;
  }
  .columna-galeria {
    transform: translateY(1000px);
  }
}
@media (max-width: 768px) {
  .navbar .container-fluid button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .nav-item {
    display: none;
    padding-bottom: 50px;
  }
  .text-inicio {
    position: absolute;
    left: 270px;
  }
  .container-formulario {
    max-width: 400px;
  }
  .container-horarios-consultorio {
    max-width: 400px;
  }
  .container-horarios-consultorio .titulo-consultorio {
    max-width: 200px;
  }
  .container-redes {
    border-radius: 20px;
    padding: 60px;
  }
  .container-redes-tel {
    padding: 60px;
    border-radius: 20px;
  }
  .container-redes-tel h4 {
    font-size: xx-large;
  }
  .container-redes-tel .texto-tel {
    font-size: x-large;
  }
  .container-location .title-location {
    width: 200px;
    position: absolute;
    bottom: -750px;
    left: -15px;
  }
  .container-location .mapa {
    max-width: 100%;
  }
  /* Sobre Nosotros tablet*/
  .navbar {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .contenedor-nosotros h1 {
    max-height: 200px;
    max-width: 170px;
    position: absolute;
    left: 100px;
  }
  .texto-titulo {
    margin-left: 60px;
    align-items: center;
    height: 520px;
    padding: 30px;
  }
  .img-cuerpo {
    margin-left: 120px;
    width: 500px;
  }
  .texto-cuerpo {
    margin-left: 75px;
    align-items: center;
    border: 2px solid;
    height: 480px;
    padding: 30px;
  }
  .formacion {
    max-width: 700px;
    position: absolute;
    left: 35px;
  }
  .formacion .titulo-formacion {
    position: absolute;
    left: -130px;
  }
  /* Galeria Tablet */
  .navbar .container-fluid .boton-nav-gl {
    position: absolute;
    top: 10px;
    right: 300px;
  }
  .text {
    font-size: 3em;
    position: absolute;
    right: 325px;
  }
  .galeria-img {
    width: 90%;
    position: absolute;
    top: 100px;
    right: 40px;
  }
  .container-galeria {
    position: absolute;
    bottom: -400px;
  }
}
@media (max-width: 414px) {
  /* Inicio mobile */
  .navbar .container-fluid button {
    position: absolute;
    top: 10px;
    right: 65px;
  }
  .text-inicio {
    font-size: 60px;
    position: absolute;
    left: 100px;
  }
  .container {
    margin-right: 0px;
  }
  .container .container-horarios-consultorio {
    margin-right: 0px;
  }
  .container .container-horarios-consultorio .horarios-consultorio {
    margin-right: 50px;
  }
  .contenedor-redes {
    margin-right: 0px;
  }
  .contenedor-redes .container-redes {
    margin-right: 0px;
    display: flex;
    height: 600px;
  }
  .contenedor-redes .container-redes .titulo-redes {
    position: absolute;
  }
  .contenedor-redes .container-redes .iconos-redes .bi-instagram {
    position: absolute;
    top: 1850px;
    right: 190px;
  }
  .contenedor-redes .container-redes .iconos-redes .bi-facebook {
    position: absolute;
    top: 1550px;
    right: 190px;
  }
  .contenedor-redes .container-redes .iconos-redes .bi-twitter {
    position: absolute;
    top: 1700px;
    right: 190px;
  }
  .container-location {
    position: absolute;
    left: 10px;
    top: 2400px;
  }
  .mapa {
    display: none;
  }
  /* Sobre Nosotros */
  .navbar .container-fluid .boton-nav-nst {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .contenedor-nosotros .img-cuerpo {
    display: none;
  }
  .contenedor-nosotros .titulo-quienes {
    position: absolute;
    top: 0px;
    left: -50px;
  }
  .contenedor-nosotros .texto-titulo {
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 0px;
    position: absolute;
    top: 300px;
    left: -60px;
  }
  .contenedor-nosotros .texto-cuerpo {
    margin-bottom: 200px;
    position: absolute;
    left: -70px;
    bottom: -700px;
  }
  .formacion {
    height: 850px;
    width: 400px;
    padding: 0px;
    justify-content: left;
    position: absolute;
    left: 7px;
    bottom: -1700px;
  }
  .formacion .titulo-formacion {
    position: absolute;
    left: -290px;
  }
  .formacion .dra-nombre {
    position: absolute;
    top: 200px;
    left: 70px;
  }
  .formacion .dr-nombre {
    position: absolute;
    top: 550px;
    left: 100px;
  }
  .formacion .luciana {
    position: absolute;
    right: 10px;
    top: 300px;
  }
  .formacion .santiago {
    position: absolute;
    right: 10px;
    top: 650px;
  }
  /* Galeria */
  .navbar .container-fluid .boton-nav-gl {
    position: absolute;
    top: 10px;
    right: 630px;
  }
  .text {
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: -570px;
  }
  .galeria-img {
    position: absolute;
    top: 0px;
    right: 7px;
    width: 400px;
  }
  .container-galeria {
    position: absolute;
    top: -400px;
    left: -135px;
  }
}
@media (max-width: 375px) {
  .text-inicio {
    font-size: 60px;
  }
  .container {
    margin-right: 0px;
  }
  .container .container-horarios-consultorio {
    margin-right: 0px;
  }
  .container .container-horarios-consultorio .horarios-consultorio {
    margin-right: 50px;
  }
  .contenedor-redes {
    margin-right: 0px;
  }
  .contenedor-redes .container-redes {
    margin-right: 0px;
    display: flex;
    height: 600px;
  }
  .contenedor-redes .container-redes .titulo-redes {
    position: absolute;
    left: 55px;
  }
  .contenedor-redes .container-redes .iconos-redes .bi-instagram {
    position: absolute;
    top: 1850px;
    right: 165px;
  }
  .contenedor-redes .container-redes .iconos-redes .bi-facebook {
    position: absolute;
    top: 1550px;
    right: 165px;
  }
  .contenedor-redes .container-redes .iconos-redes .bi-twitter {
    position: absolute;
    top: 1700px;
    right: 165px;
  }
  .container-location {
    margin-right: 0px;
  }
  .container-location .title-location {
    position: absolute;
    bottom: 150px;
  }
  .mapa {
    display: none;
  }
  /* Sobre Nosotros */
  .contenedor-nosotros .img-cuerpo {
    display: none;
  }
  .contenedor-nosotros .titulo-quienes {
    position: absolute;
    left: -65px;
  }
  .contenedor-nosotros .texto-titulo {
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 0px;
  }
  .contenedor-nosotros .texto-cuerpo {
    margin-bottom: 200px;
    position: absolute;
    bottom: -1000px;
  }
  .formacion {
    height: 850px;
    width: 380px;
    padding: 0px;
    justify-content: left;
    position: absolute;
    bottom: -2200px;
    left: 0;
  }
  .formacion .dra-nombre {
    position: absolute;
    top: 200px;
    left: 70px;
  }
  .formacion .dr-nombre {
    position: absolute;
    top: 550px;
    left: 100px;
  }
  .formacion .luciana {
    position: absolute;
    right: 10px;
    top: 300px;
  }
  .formacion .santiago {
    position: absolute;
    right: 10px;
    top: 650px;
  }
  /* Galeria */
  .navbar .container-fluid .boton-nav-gl {
    position: absolute;
    top: 10px;
    right: 30px;
  }
  .text {
    height: 200px;
    width: 300px;
    display: show;
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: -550px;
  }
  .galeria-img {
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 400px;
  }
  .container-galeria {
    position: absolute;
    top: -500px;
    left: -150px;
  }
}

/*# sourceMappingURL=style.css.map */
