@import url(../scss/partials/_queries.scss);
@import url(../scss/partials/_variables.scss);
@import url(../partials/_variables.scss);
body {
  margin: 0;
  padding: 0;
  background-image: url("../Media/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
  background-position: center;
}

/* Estilos del INICIO */
.navbar .navbar-toggler {
  background-color: lightgray;
}
.navbar .nav-item-mobile {
  border-radius: 20px;
  padding: 5px;
  width: 60px;
}
.navbar .nav-item-mobile-long {
  border-radius: 20px;
  padding: 5px;
  width: 140px;
}
.navbar .nav-item-mobile-long:hover {
  background: lightgray;
}
.navbar .nav-item-mobile:hover {
  background: lightgray;
}

.container {
  margin-top: 3px solid;
  border-radius: 40px;
}
.container .container-formulario {
  border-radius: 20px;
}
.container .col {
  border: 3px solid;
  border-color: gray;
  background: white;
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 100px;
}
.container .col .formulario {
  padding: 10px;
  font-weight: 700;
}
.container .col .formulario .titulo-formulario {
  font-weight: 900;
  margin-bottom: 15px;
}
.container .container-horarios-consultorio {
  border-radius: 20px;
}
.container .container-horarios-consultorio .titulo-consultorio {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  border-bottom: 3px solid;
  border-color: #A5D7E8;
  width: 400px;
  color: #FFB4B4;
}
.container .container-horarios-consultorio .tit-horarios-consultorio {
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}
.container .container-horarios-consultorio .horarios-consultorio {
  border: 3px solid;
  border-color: gray;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  text-align: left;
  margin-top: 70px;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.container-redes {
  margin-top: 100px;
  border: 3px solid;
  border-color: gray;
  border-radius: 20px 0 0 20px;
  padding: 30px;
}
.container-redes .iconos-redes {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
}
.container-redes .iconos-redes-mobile {
  display: none;
}

.container-redes-tel {
  border: 3px solid;
  border-color: gray;
  border-radius: 0 20px 20px 0;
  padding: 30px;
  margin-top: 100px;
}
.container-redes-tel .texto-tel-mobile {
  display: none;
}

.contenedor-direccion .container-location {
  border-radius: px;
  margin-top: 120px;
  padding: 30px;
  border: 0px solid;
  background-color: transparent;
  max-width: 638px;
}
.contenedor-direccion .title-location {
  margin-top: 40px;
  border-bottom: 4px solid;
  border-color: #A5D7E8;
  width: 400px;
  margin-left: 100px;
  font-weight: 800;
  color: #FFB4B4;
}
.contenedor-direccion .location {
  font-size: 24px;
  margin-top: 40px;
}

.mapa {
  border: 3px solid;
  border-color: gray;
  padding: 5px;
  overflow: hidden;
  height: 400px;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Estilos del Sobre Nosotros */
.body-nosotros {
  background-image: url(../Media/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
}

.navbar {
  display: block;
}

.contenedor-nosotros h1 {
  margin-left: 100px;
  border-bottom: 4px solid;
  border-radius: 2px;
  border-color: purple;
  max-width: 400px;
  color: #FFB4B4;
  font-weight: 700;
  max-height: 50px;
}

.contenedor-cuerpo .img-cuerpo {
  background-image: url(../Media/Medicos.jpg);
  background-size: cover;
  background-position: right;
  height: 500px;
  border: 0px;
  border-radius: 20px;
}
.contenedor-cuerpo .titulo-quienes {
  border: 0px;
  display: flex;
  justify-content: left;
  background-color: transparent;
}
.contenedor-cuerpo .texto-titulo {
  width: 600px;
  height: 400px;
  font-size: larger;
  border: 0px;
  background-color: transparent;
}
.contenedor-cuerpo .texto-cuerpo {
  margin-top: 100px;
  width: 600px;
  height: 400px;
  font-size: larger;
  border: 0px;
  background-color: transparent;
}

.dra {
  font-weight: 900;
}

.dr {
  font-weight: 900;
}

.titulo-formacion-mobile {
  display: none;
}

.formacion .titulo-formacion {
  margin-top: 100px;
  margin-left: 500px;
  background-color: transparent;
  font-size: xx-large;
  color: #FFB4B4;
  border-bottom: 4px solid;
  border-radius: 2px;
  border-color: purple;
  width: 278px;
}
.formacion .cuerpo-titulo {
  font-size: larger;
  border: 0px;
  padding: 50px;
  background-color: transparent;
}

/* Estilos Galeria */
.text {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 4em;
  font-weight: 500;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.galeria-img {
  transform: translateX(57%);
  margin-top: 300px;
  max-width: 900px;
  max-height: 800px;
}

.container-galeria .columna-galeria {
  border: 0px;
  background-color: transparent;
}

.card {
  margin-top: 100px;
  margin-left: 140px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .nav-item {
    display: none;
    padding-bottom: 50px;
  }
  .navbar-mobile {
    display: block;
  }
  .container-redes {
    border-radius: 20px;
    padding: 60px;
  }
  .iconos-redes-mobile {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  .container-redes-tel {
    padding: 60px;
    border-radius: 20px;
  }
  .container-redes-tel h4 {
    font-size: xx-large;
  }
  .container-redes-tel .texto-tel {
    font-size: x-large;
  }
  /* Sobre Nosotros tablet*/
  .navbar {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .texto-titulo {
    margin-left: 60px;
    align-items: center;
    height: 520px;
    padding: 30px;
    font-size: xx-large;
  }
  .titulo-formacion-mobile {
    display: none;
  }
  .titulo-formacion-mobile {
    display: none;
  }
  .img-cuerpo {
    margin-left: 120px;
    width: 500px;
  }
  .texto-cuerpo {
    margin-left: 60px;
    align-items: center;
    border: 2px solid;
    height: 480px;
    padding: 30px;
  }
}
@media (max-width: 414) {
  .contenedor-redes {
    display: none;
  }
  .mapa {
    display: none;
  }
  .img-cuerpo {
    display: none;
  }
  .titulo-formacion {
    display: none;
  }
  .container-formacion {
    display: none;
  }
}
@media (max-width: 375px) {
  .container-formulario {
    width: 100px;
  }
  .container-formulario .formulario {
    width: 100%;
  }
  .container .container-horarios-consultorio {
    width: 230px;
    margin-left: 0px;
  }
  .container .container-horarios-consultorio .titulo-consultorio {
    font-size: larger;
  }
  .container .container-horarios-consultorio .tit-horarios-consultorio {
    font-size: larger;
  }
  .container .container-horarios-consultorio .horarios-consultorio {
    margin-bottom: 20px;
    width: 200px;
    height: 220px;
  }
  .container-location {
    width: 10px;
  }
  .container-location .title-location {
    font-size: large;
  }
  .container-location .location {
    font-size: large;
  }
  .contenedor-redes {
    display: none;
  }
  .mapa {
    display: none;
  }
  /* Sobre Nosotros */
  .contenedor-nosotros h1 {
    margin-left: 100px;
    font-size: xx-large;
    border-bottom: 4px solid;
    border-radius: 2px;
    border-color: purple;
    max-width: 200px;
    color: #FFB4B4;
    font-weight: 700;
  }
  .contenedor-nosotros .img-cuerpo {
    display: none;
  }
  .contenedor-nosotros .texto-titulo {
    padding: 20px;
    border: 4px solid;
    height: 770px;
    border-radius: 20px;
    border-color: gray;
  }
  .contenedor-nosotros .texto-cuerpo {
    margin-bottom: 200px;
    border: 4px solid;
    height: 770px;
    border-radius: 20px;
    border-color: gray;
  }
  .titulo-formacion {
    display: none;
  }
  .container-formacion {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
