

@import url(../scss/partials/_queries.scss);
@import url(../scss/partials/_variables.scss);



body{
    margin: 0;
    padding: 0;
    background-image: url('../Media/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg');
    background-position: center;
}

/* Estilos del INICIO */

.navbar{
    
    .navbar-toggler{
        background-color : lightgray;
    }

    .nav-item-mobile{
        border-radius: 20px;
        padding: 5px;
        width: 60px;
    }

    .nav-item-mobile-long{
        border-radius: 20px;
        padding: 5px;
        width: 140px;
    }

    .nav-item-mobile-long:hover{
        background: lightgray;
    }

    .nav-item-mobile:hover{
        background: lightgray;
    }

}


.container{
    margin-top: 3px solid;
    border-radius: 40px;

        .container-formulario{
            border-radius: 20px;
        }

        .col{
            border: 3px solid;
            border-color: gray;
            background: white;
            font-family: 'Montserrat Alternates', sans-serif;
            margin-top: 100px;



            .formulario{
                padding: 10px;
                font-weight: 700;

                .titulo-formulario{
                    font-weight: 900;
                    color: #FFB4B4;
                    margin-bottom: 15px;

                }
            }
        }
    

        .container-horarios-consultorio{
            border-radius: 20px;

            .titulo-consultorio{
                text-align: left;
                margin-top: 20px;
                margin-left: 20px;
                border-bottom: 3px solid;
                border-color: #A5D7E8;
                width: 400px;
                color: #FFB4B4;
                
                }

        
            .tit-horarios-consultorio{
                text-align: left;
                margin-top: 50px;
                margin-left: 20px;
            }

            .horarios-consultorio{
                border: 3px solid;
                border-color: gray;
                border-radius: 10px;
                width: 250px;
                height: 200px;
                text-align: left;
                margin-top: 70px;
                margin-left: 20px;
                padding-left: 20px;
                padding-top: 10px;
            }
    }
}



.container-redes{
    margin-top: 100px;
    border: 3px solid;
    border-color: gray;
    border-radius: 20px 0 0 20px;
    padding: 30px;

    .iconos-redes{
        display: flex;
        justify-content: center;
        gap: 200px;
        margin-top: 50px;
    }

    .iconos-redes-mobile{
        display: none;
    }

}


.container-redes-tel{
    border: 3px solid;
    border-color: gray;
    border-radius: 0 20px 20px 0;
    padding: 30px;
    margin-top: 100px;


    .texto-tel-mobile{
        display: none;
    }
}

.contenedor-direccion{



    .container-location{
        border-radius: px;
        margin-top: 120px;
        padding: 30px;
        border: 0px solid;
        background-color: transparent;
        max-width: 638px;
    
    }

    .title-location{
        margin-top: 40px;
        border-bottom: 4px solid;
        border-color: #A5D7E8;
        width: 400px;
        margin-left: 100px;
        font-weight: 800;
        color: #FFB4B4;
    }

    .location{
        font-size: 24px;
        margin-top: 40px;
    }
}

.mapa{
    border: 3px solid;
    border-color: gray;
    padding: 5px;
    overflow: hidden;
    height: 400px;


    iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
}


/* Estilos del Sobre Nosotros */

.body-nosotros{
    background-image: url(../Media/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
}

.navbar{
    display: block;
}

.contenedor-nosotros{

    h1{
        margin-left: 100px;
        border-bottom: 4px solid;
        border-radius: 2px;
        border-color: purple;
        max-width: 400px;
        color: #FFB4B4;
        font-weight: 700;
        max-height: 50px;
    }
}
.contenedor-cuerpo{

    .img-cuerpo{
        background-image: url(../Media/Medicos.jpg);
        background-size: cover;
        background-position: right;
        height: 500px;
        border: 0px;
        border-radius: 20px;
    }

    .titulo-quienes{
        border: 0px;
        display: flex;
        justify-content: left;
        background-color: transparent;
    }

    .texto-titulo{
        width: 600px;
        height: 400px;
        font-size: larger;
        border: 0px;
        background-color: transparent;
    }

    .texto-cuerpo{
        margin-top: 100px;
        width: 600px;
        height: 400px;
        font-size: larger;
        border: 0px;
        background-color: transparent;
    }
    
}


.titulo-formacion-mobile{
    display: none;
}

.formacion{

    .titulo-formacion{
        margin-top: 100px;
        margin-left: 500px;
        background-color: transparent;
        font-size: xx-large;
        color: #FFB4B4;
        border-bottom: 4px solid;
        border-radius: 2px;
        border-color: purple;
        width: 278px;
    }

    .cuerpo-titulo{
        font-size: larger;
        border: 0px;
        padding: 50px;
        background-color: transparent;
    } 
}


/* Estilos Galeria */

.galeria-art{

    ul{
        list-style: none;
    }

    .contenedor-articulos{
        border-radius: 20px;
    

        .articulos-galeria{
            margin: 20px;
            text-align: left;
        }
    }
}

@import "../scss/partials/queries";