@import url(../partials/_variables.scss);


@media (max-width: 768px){

    .nav-item{
        display: none;
        padding-bottom: 50px;
    } 

    .navbar-mobile{
        display: block;
    }

    
    .container-redes{
        border-radius: 20px;
        padding: 60px;
    }

    .iconos-redes-mobile{
        display: flex;
        justify-content: left;
        margin-top: 20px;
    }

    .container-redes-tel{
        padding: 60px;
        border-radius: 20px;
        
        h4{
            font-size: xx-large;
        }

        .texto-tel{
            font-size: x-large;
        }
    }

    /* Sobre Nosotros tablet*/

    .navbar{
        display: flex;
        list-style: none;
        padding: 0;
    }


    .texto-titulo{
        margin-left: 60px;
        align-items: center;
        height: 520px;
        padding: 30px;
        font-size: xx-large;
    }

    .titulo-formacion-mobile{
        display: none;
    }

    .titulo-formacion-mobile{
        display: none;
    }


    .img-cuerpo{
        margin-left: 120px;
        width: 500px;
    }

    .texto-cuerpo{
        margin-left: 60px;
        align-items: center;
        border: 2px solid;
        height: 480px;
        padding: 30px;
    }
}


@media (max-width:414){

    .contenedor-redes{
        display: none;
    }
    
    .mapa{
        display: none;
    }

    


    .img-cuerpo{
        display: none;
    }


    .titulo-formacion{
        display: none;
    }

    .container-formacion{
        display: none;
}    
}


@media (max-width: 375px){

    .container-formulario{
        width: 100px;

        .formulario{
            width: 100%;
        }    
}

    .container{
        
        .container-horarios-consultorio{
            width: 230px;
            margin-left: 0px;


            .titulo-consultorio{
                font-size: larger;
            }

            .tit-horarios-consultorio{
                font-size: larger;
            }

            .horarios-consultorio{
                margin-bottom: 20px;
                width: 200px;
                height: 220px;
            }
        }
    }
        

    .container-location{
        width: 10px;

        .title-location{
            font-size: large;
        }

        .location{
            font-size: large;
        }
    }


    .contenedor-redes{
        display: none;
    }
    
    .mapa{
        display: none;
    }

/* Sobre Nosotros */

    .contenedor-nosotros{

        h1{
            margin-left: 100px;
            font-size: xx-large;
            border-bottom: 4px solid;
            border-radius: 2px;
            border-color: purple;
            max-width: 200px;
            color: #FFB4B4;
            font-weight: 700;
        }

        .img-cuerpo{
            display: none;
        }

        .texto-titulo{
            padding: 20px;
            border: 4px solid;
            height: 770px;
            border-radius: 20px;
            border-color: gray;
        }

        .texto-cuerpo{
            margin-bottom: 200px;
            border: 4px solid;
            height: 770px;
            border-radius: 20px;
            border-color: gray;
            
        }
    }

    .titulo-formacion{
        display: none;
    }

    .container-formacion{
        display: none;
}
}