@import url(../partials/_variables.scss);


@media (max-width: 768px){

    .nav-item{
        display: none;
        padding-bottom: 50px;
    } 


    .container-formulario{
        max-width: 400px;
    }

    .container-horarios-consultorio{
        max-width: 400px;

        .titulo-consultorio{
            max-width: 200px;
        }
    }
    
    .container-redes{
        border-radius: 20px;
        padding: 60px;
    }


    .container-redes-tel{
        padding: 60px;
        border-radius: 20px;
        
        h4{
            font-size: xx-large;
        }

        .texto-tel{
            font-size: x-large;
        }
    }


    .container-location{

        .title-location{
            width: 200px;
            transform: translateX(-40px);
        }

    }

    .container-location{
        .mapa{
            max-width: 100%;
        }
    } 

    /* Sobre Nosotros tablet*/

    .navbar{
        display: flex;
        list-style: none;
        padding: 0;
    }

    

    .contenedor-nosotros{
        h1{
            max-height: 200px;
            max-width: 170px;
            transform: translateY(40px);
        }
    }

    .texto-titulo{
        margin-left: 60px;
        align-items: center;
        height: 520px;
        padding: 30px;
    }


    .img-cuerpo{
        margin-left: 120px;
        width: 500px;
    }

    .texto-cuerpo{
        margin-left: 75px;
        align-items: center;
        border: 2px solid;
        height: 480px;
        padding: 30px;
    }

    .formacion{
        transform: translateX(5%);
        max-width: 700px;
        

        .titulo-formacion{
            transform: translateX(-130px);
        }
    }


/* Galeria Tablet */

.galeria-img{
    max-width: 500px;
    transform: translateX(25%);
    margin-top: 500px;
}

.container-galeria{
    transform: translateY(-100px);
}


}

@media (max-width:414px){
/* Inicio mobile */
    .text-inicio{
        font-size: 60px;
    }

    .container{
        margin-right: 0px;
        .container-horarios-consultorio{
            margin-right: 0px;
            .horarios-consultorio{
                margin-right: 50px;
            }
        }
    }

    .contenedor-redes{
        margin-right: 0px;
        .container-redes{
            margin-right: 0px;
            display: flex;
            height: 600px;

            .titulo-redes{
                transform: translateX(80px);
            }

            .iconos-redes{
                .bi-instagram{
                    position: absolute;
                    top: 1950px;
                    right: 190px;
                }

                .bi-facebook{
                    position: absolute;
                    top: 1650px;
                    right: 190px;
                }

                .bi-twitter{
                    position: absolute;
                    top: 1800px;
                    right: 190px;
                }
            }
        }

    }

    .container-location{
        position: absolute;
        left: 10px;
        top: 2400px;
    }

    .mapa{
        display: none;
    }

    /* Sobre Nosotros */

    .ubicar{
        transform: translateY(-150px);
    }

    .contenedor-nosotros{
        
        .img-cuerpo{
            display: none;
        }

        .texto-titulo{
            padding: 20px;
            margin-bottom: 200px;
            margin-top: 0px;

        }

        .texto-cuerpo{
            margin-bottom: 200px;
        }
    }


    .formacion{
        transform: translateX(60px);
        height: 850px;
        width: 400px;
        padding: 0px;
        justify-content: left;

        .titulo-formacion{
            transform: translateX(-320px);
        }

        .dra-nombre{
            position: absolute;
            top: 200px;
            left: 70px;
        }

        .dr-nombre{
            position: absolute;
            top: 550px;
            left: 100px;
        }
        
        .luciana{
            position: absolute;
            right: 10px;
            top: 300px;
        }

        .santiago{
            position: absolute;
            right: 10px;
            top: 650px;
        }

        
    }

/* Galeria */
.text{
    font-size: 40px;
    position: absolute;
    top: 100px;
    transform: translateX(220px);
}

.galeria-img{
    position: absolute;
    bottom: 300px;
    right: 40px;
    width: 400px;
}

.container-galeria{
    position: absolute;
    top: 500px;
    transform: translateX(-75px);
}

}


@media (max-width: 375px){

    .text-inicio{
        font-size: 60px;
    }

    .container{
        margin-right: 0px;
        .container-horarios-consultorio{
            margin-right: 0px;
            .horarios-consultorio{
                margin-right: 50px;
            }
        }
    }

    .contenedor-redes{
        margin-right: 0px;
        .container-redes{
            margin-right: 0px;
            display: flex;
            height: 600px;

            .titulo-redes{
                transform: translateX(65px);
            }

            .iconos-redes{
                .bi-instagram{
                    position: absolute;
                    top: 1950px;
                    right: 165px;
                }

                .bi-facebook{
                    position: absolute;
                    top: 1650px;
                    right: 165px;
                }

                .bi-twitter{
                    position: absolute;
                    top: 1800px;
                    right: 165px;
                }
            }
        }

    }

    .container-location{
        margin-right: 0px;
    }

    .mapa{
        display: none;
    }

/* Sobre Nosotros */

    .ubicar{
        transform: translateY(-150px);
    }

    .contenedor-nosotros{
        
        .img-cuerpo{
            display: none;
        }

        .texto-titulo{
            padding: 20px;
            margin-bottom: 200px;
            margin-top: 0px;

        }

        .texto-cuerpo{
            margin-bottom: 200px;
        }
    }


    .formacion{
        transform: translateX(60px);
        height: 850px;
        width: 400px;
        padding: 0px;
        justify-content: left;

        .titulo-formacion{
            transform: translateX(-320px);
        }

        .dra-nombre{
            position: absolute;
            top: 200px;
            left: 70px;
        }

        .dr-nombre{
            position: absolute;
            top: 550px;
            left: 100px;
        }
        
        .luciana{
            position: absolute;
            right: 10px;
            top: 300px;
        }

        .santiago{
            position: absolute;
            right: 10px;
            top: 650px;
        }

        
    }

/* Galeria */

    .text{
        font-size: 40px;
        position: absolute;
        top: 100px;
        transform: translateX(220px);
    }

    .galeria-img{
        position: absolute;
        bottom: 70px;
        right: 40px;
        width: 400px;
    }

    .container-galeria{
        position: absolute;
        top: 500px;
        transform: translateX(-100px);
    }

}