@import "../partials/variables";

@media (max-width: 1362px){
    /* Sobre Nosotros*/

    /* Galeria */
    .text{
        transform: translateX(600px);
        width: 1000px;
    }

    .galeria-img{
        position: absolute;
        right: 670px;
        top: 200px;
        max-width: 900px;

    }

    .columna-galeria{
        transform: translateY(1000px);
    }

}

@media (max-width: $tablet){

    .navbar{
        .container-fluid{
            button{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }


    .nav-item{
        display: none;
        padding-bottom: 50px;
    } 

    .text-inicio{
        position: absolute;
        left: 270px;
    }

    .container-formulario{
        max-width: 400px;
    }

    .container-horarios-consultorio{
        max-width: 400px;

        .titulo-consultorio{
            max-width: 200px;
        }

    }
    
    .container-redes{
        border-radius: 20px;
        padding: 60px;
    }


    .container-redes-tel{
        padding: 60px;
        border-radius: 20px;
        
        h4{
            font-size: xx-large;
        }

        .texto-tel{
            font-size: x-large;
        }
    }


    .container-location{

        .title-location{
            width: 200px;
            position: absolute;
            bottom: -750px;
            left: -15px;
        }

    }

    .container-location{
        .mapa{
            max-width: 100%;
        }
    } 

    /* Sobre Nosotros tablet*/

    .navbar{
        display: flex;
        list-style: none;
        padding: 0;
    }

    

    .contenedor-nosotros{
        h1{
            max-height: 200px;
            max-width: 170px;
            position: absolute;
            left: 100px;
        }
    }

    .texto-titulo{
        margin-left: 60px;
        align-items: center;
        height: 520px;
        padding: 30px;
    }


    .img-cuerpo{
        margin-left: 120px;
        width: 500px;
    }

    .texto-cuerpo{
        margin-left: 75px;
        align-items: center;
        border: 2px solid;
        height: 480px;
        padding: 30px;
    }

    .formacion{
        max-width: 700px;
        position: absolute;
        left: 35px;
        

        .titulo-formacion{
            position: absolute;
            left: 200px;
        }
    }


/* Galeria Tablet */

.navbar{
    .container-fluid{
        .boton-nav-gl{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}


.text{
    font-size: 3em;
    position: absolute;
    right: 625px;
    width: 700px;
}

.galeria-img{
    width: 90%;
    position: absolute;
    top: 300px;
    right: 40px;
}

.container-galeria{
    position: absolute;
    top: -200px;
    left: 190px;
}


}

@media (max-width:$XR){
/* Inicio mobile */

.navbar{
    .container-fluid{
        button{
            position: absolute;
            top: 10px;
            transform: translateX(55px);
        }
    }
}


    .text-inicio{
        font-size: 60px;
        position: absolute;
        left: 100px;
    }

    .container{

        .container-formulario{
            margin-left: 7px;
        }

        .container-horarios-consultorio{
            height: 450px;

            .tit-horarios-consultorio{
                position: absolute;
                top: 845px;
            }

            .horarios-consultorio{
                width: 200px;
                position: absolute;
                top: 900px;
                
                ul{
                    font-size: 14px;
                }
            }
        }
    }

    .contenedor-redes{
        .container-redes{
            display: flex;
            height: 600px;

            .titulo-redes{
                position: absolute;
            }

            .iconos-redes{
                width: 100px;
                .bi-instagram{
                    position: absolute;
                    top: 1750px;
                }

                .bi-facebook{
                    position: absolute;
                    top: 1450px;
                }

                .bi-twitter{
                    position: absolute;
                    top: 1600px;
                }
            }
        }

    }

    .container-location{
        display: none;
    }

    .location{
        display: none;
    }



    .mapa{
        display: none;
    }

    /* Sobre Nosotros */

    .navbar{
        .container-fluid{
            button{
                position: absolute;
                top: 10px;
                transform: translateX(-5px);
            }
        }
    }

    .contenedor-nosotros{
        
        .img-cuerpo{
            display: none;
        }   

        .titulo-quienes{
            position: absolute;
            top: 0px;
            left: -50px;
        }

        .texto-titulo{
            padding: 20px;
            margin-bottom: 200px;
            margin-top: 0px;
            position: absolute;
            top: 300px;
            left: -60px;

        }

        .texto-cuerpo{
            margin-bottom: 200px;
            position: absolute;
            left: -70px;
            top: 1000px;
            width: 400px;
        }
    }


    .formacion{
        height: 850px;
        width: 200px;
        padding: 0px;
        justify-content: left;
        position: absolute;
        top: 1900px;
        transform: translateX(-53px);
        padding: 0;
        margin-top:0;
        

        .titulo-formacion{
            position: absolute;
            left: 55px;
        }

        .dra-nombre{
            position: absolute;
            top: 200px;
            left: 70px;
        }

        .dr-nombre{
            position: absolute;
            top: 550px;
            left: 100px;
        }
        
        .luciana{
            position: absolute;
            right: 10px;
            top: 300px;
        }

        .santiago{
            position: absolute;
            right: 10px;
            top: 650px;
        }

        
    }

/* Galeria */

.navbar{
    .container-fluid{
        .boton-nav-gl{
            position: absolute;
            top: 10px;
            right: 60px;
        }
    }
}


.text{
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: -570px;
    width: 370px;
}

.galeria-img{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
}

.container-galeria{
    position: absolute;
    top: -500px;
    left: 7px;
}

}



@media (max-width: $mobile){

    .navbar{
        .container-fluid{
            button{
                position: absolute;
                top: 10px;
                transform: translateX(55px);
            }
        }
    }

    .text-inicio{
        font-size: 60px;
    }

    .container{

        .container-formulario{
            margin-right: 7px;
        }

        .container-horarios-consultorio{
            margin-right: 0px;
            .horarios-consultorio{
                margin-right: 50px;
            }
        }
    }

    .contenedor-redes{
        margin-right: 0px;
        .container-redes{
            margin-right: 0px;
            display: flex;
            height: 600px;

            .titulo-redes{
                position: absolute;
                left: 55px;
            }

            .iconos-redes{
                .bi-instagram{
                    position: absolute;
                    top: 1800px;
                    right: 165px;
                }

                .bi-facebook{
                    position: absolute;
                    top: 1500px;
                    right: 165px;
                }

                .bi-twitter{
                    position: absolute;
                    top: 1650px;
                    right: 165px;
                }
            }
        }

    }

    .container-location{
        margin-right: 0px;
        .title-location{
            position: absolute;
            bottom: 150px;
        }
    }

    .mapa{
        display: none;
    }

/* Sobre Nosotros */


    .contenedor-nosotros{
        
        .img-cuerpo{
            display: none;
        }

        .titulo-quienes{
            position: absolute;
            left: -65px;
        }

        .texto-titulo{
            padding: 20px;
            margin-bottom: 200px;
            margin-top: 0px;
            width: 350px;

        }

        .texto-cuerpo{
            margin-bottom: 200px;
            position: absolute;
            top: 1000px;
            width: 350px;
        }
    }


    .formacion{
        height: 850px;
        width: 280px;
        padding: 0px;
        position: absolute;
        left: -100px;
        top: 2200px;
        margin: 0;
        display: none;
    }
/* Galeria */

.navbar{
    .container-fluid{
        button{
            position: absolute;
            top: 10px;
            transform: translateX(-5px);
        }
    }
}

    .text{
        height: 70px;
        width: 200px;
        display: show;
        font-size: 30px;
        position: absolute;
        top: 100px;
        left: -550px;
    }

    .galeria-img{
        position: absolute;
        left: 200px;
    }

    .container-galeria{
        position: absolute;
        max-height: 200px ;
        top: -500px;
        left: 35px;

        .card{
            max-width: 300px;
        }
    }

}

@media (max-width: 452px){
    .navbar{
        .container-fluid{
            button{
                position: absolute;
                top: 10px;
                right: 65px;
            }
        }
    }
    
    
        .text-inicio{
            font-size: 60px;
            position: absolute;
            left: 100px;
        }
    
        .container{
            margin-right: 0px;
            .container-horarios-consultorio{
                margin-right: 0px;
                height: 450px;
    
                .tit-horarios-consultorio{
                    position: absolute;
                    top: 845px;
                }
    
                .horarios-consultorio{
                    width: 200px;
                    position: absolute;
                    top: 900px;
                    
                    ul{
                        font-size: 14px;
                    }
                }
            }
        }
    
        .contenedor-redes{
            margin-right: 0px;
            .container-redes{
                margin-right: 0px;
                display: flex;
                height: 600px;
    
                .titulo-redes{
                    position: absolute;
                }
    
                .iconos-redes{
                    .bi-instagram{
                        position: absolute;
                        top: 1750px;
                        right: 190px;
                    }
    
                    .bi-facebook{
                        position: absolute;
                        top: 1450px;
                        right: 190px;
                    }
    
                    .bi-twitter{
                        position: absolute;
                        top: 1600px;
                        right: 190px;
                    }
                }
            }
    
        }
    
        .container-location{
            display: none;
        }
    
        .location{
            display: none;
        }
    
    
    
        .mapa{
            display: none;
        }
    
}

@media (max-width: 464px){
    .navbar{
        .container-fluid{
            button{
                position: absolute;
                top: 10px;
                right: 65px;
            }
        }
    }
    
    
        .text-inicio{
            font-size: 60px;
            position: absolute;
            left: 100px;
        }
    
        .container{
            margin-right: 0px;
            .container-horarios-consultorio{
                margin-right: 0px;
                height: 450px;
    
                .tit-horarios-consultorio{
                    position: absolute;
                    top: 845px;
                }
    
                .horarios-consultorio{
                    width: 200px;
                    position: absolute;
                    top: 900px;
                    
                    ul{
                        font-size: 14px;
                    }
                }
            }
        }
    
        .contenedor-redes{
            margin-right: 0px;
            .container-redes{
                margin-right: 0px;
                display: flex;
                height: 600px;
    
                .titulo-redes{
                    position: absolute;
                }
    
                .iconos-redes{
                    .bi-instagram{
                        position: absolute;
                        top: 1750px;
                        right: 190px;
                    }
    
                    .bi-facebook{
                        position: absolute;
                        top: 1450px;
                        right: 190px;
                    }
    
                    .bi-twitter{
                        position: absolute;
                        top: 1600px;
                        right: 190px;
                    }
                }
            }
    
        }
    
        .container-location{
            display: none;
        }
    
        .location{
            display: none;
        }
    
    
    
        .mapa{
            display: none;
        }
    
}

@media (max-width: 752px){
    .container{
        margin-right: 0px;
        .container-horarios-consultorio{
            margin-right: 0px;
            height: 450px;

            .tit-horarios-consultorio{
                position: absolute;
                top: 845px;
            }

            .horarios-consultorio{
                width: 200px;
                
                ul{
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 562px){
    .navbar{
        .container-fluid{
            .boton-nav-nst{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }

    .contenedor-nosotros{
        
        .img-cuerpo{
            display: none;
        }   

        .titulo-quienes{
            position: absolute;
            top: 0px;
            left: -50px;
        }

        .texto-titulo{
            padding: 20px;
            margin-bottom: 200px;
            margin-top: 0px;
            position: absolute;
            top: 300px;
            left: -60px;

        }

        .texto-cuerpo{
            margin-bottom: 200px;
            position: absolute;
            left: -70px;
            bottom: -100px
        }
    }


    .formacion{
        height: 850px;
        width: 400px;
        padding: 0px;
        justify-content: left;
        position: absolute;
        left: 65px;
        bottom: -1000px;

        .titulo-formacion{
            position: absolute;
            left: 55px;
        }

        .dra-nombre{
            position: absolute;
            top: 200px;
            left: 70px;
        }

        .dr-nombre{
            position: absolute;
            top: 550px;
            left: 100px;
        }
        
        .luciana{
            position: absolute;
            right: 10px;
            top: 300px;
        }

        .santiago{
            position: absolute;
            right: 10px;
            top: 650px;
        }

        
    }
}

@media(max-width: 990px){
    .navbar{
        .container-fluid{
            .boton-nav-gl{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    
    
    .text{
        font-size: 3em;
        position: absolute;
        right: 625px;
        width: 700px;
    }
    
    .galeria-img{
        width: 100%;
        position: absolute;
        top: 300px;
        right: 40px;

    }
    
    .container-galeria{
        position: absolute;
        top: -200px;
        left: 190px;
    }
}